@charset "utf-8";

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

:focus {
	outline: 0;
}

ol, ul {
	list-style-position: inside;
}

a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

html, body { 
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000;
	line-height: 130%;
	background: #fff;
	min-width: 320px;
}

#site {
	min-height: 100%;
	position: relative;
}	

#container {
	padding-bottom: 19px;
	position: relative;
	z-index: 1;
}

.fixed {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.aligncenter {
	text-align: center;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.title {
	display: block;
	font-size: 30px;
	line-height: 120%;
	font-weight: 600;
	text-align: center;
	margin-bottom: 60px;
}

.bg_1 {
	background: #ffede0;
}

.bg_2 {
	background: #f3f3f3;
}

.bg_3 {
	background: #f3f3f3 url(../img/feet.jpg) 50% 0 no-repeat;
	height: 874px;
	position: relative;
	text-align: right;
}

.bg_3 .fixed {
	height: 810px;
	padding-top: 64px;
}

.bg_3 .title {
	display: inline-block;
	width: 760px;
	text-align: right;
	color: #3f2b05;
	font-size: 32px;
	line-height: 120%;
	margin-bottom: 55px;
}

.bg_4 {
	background: #ffede0 url(../img/feet_2.jpg) 50% 0 no-repeat;
	height: 704px;
	border-top: 12px solid #ffd200;
	text-align: right;
}

.bg_4 .fixed {
	padding-top: 64px;
	height: 640px;
}

.bg_5 {
	background: #ffede0 url(../img/bg_5.jpg) 50% 0 no-repeat;
	height: 608px;
}

.bg_5 .fixed {
	height: 608px;
}

.form-img{
	display: none;
	float: left;
}
.green {
	color: #17b500;
	display: block;
	font-size: 26px;
	line-height: normal;
	font-weight: bold;
	margin-bottom: 12px;
	text-align: center;
}

.shadow {
	box-shadow: 0 8px 12px rgba(0,0,0,0.3);
}

.box {
	padding: 50px 0;
}

.yellow_marker {
	height: 41px;
	position: relative;
	display: inline-block;
	background: url(../img/yellow_marker.png) 0 0 repeat-x;
	margin: 0 40px;
}

.yellow_marker:before {
	content: ' ';
	display: block;
	height: 41px;
	width: 39px;
	background: url(../img/yellow_marker_l.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -33px;
}

.yellow_marker:after {
	content: ' ';
	display: block;
	height: 41px;
	width: 34px;
	background: url(../img/yellow_marker_r.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -30px;
}

.bg_3 .yellow_marker {
	margin-right: 0px;
	padding: 0px 9px;
}

.fixator {
	display: block;
    position: absolute;
    bottom: 250px;
    width: 230px;
    height: 383px;
    left: 81px;
    background: url(../img/fixatior.png) 100% 0 no-repeat;
    z-index: 1;
}

.order_form {
	display: inline-block;
	width: 513px;
	padding: 20px 20px 30px 20px;
	margin-bottom: 20px;
	border-radius: 15px;
	background: #fff;
	zoom: 1;
	*display: inline;
}

.order_form h4 {
	font-weight: 600;
	font-size: 26px;
	line-height: 120%;
	margin-bottom: 25px;
	text-align: center;
}

.bg_4 .order_form h4 {
	margin: 0 -15px 20px -15px;
	text-align: center;
}

.order_form form {
	display: block;
	float: left;
	width: 270px;
	text-align: center;
	border-radius: 5px;
}

.order_form input[type="text"],.icon_2 {
	display: block;
	width: 81%;
	height: 56px;
	padding: 0 40px 0 15px;
	border: 1px solid #d6d9d8;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	color: #8e8e8e;
	line-height: 56px;
	margin-bottom: 14px;
	background: #f2f4f3;
	text-align: left;
}

.order_form input.icon_1 {
	background: #f2f4f3 url(../img/form_icon_1.png) 96% 50% no-repeat;
}

.order_form input.icon_2 {
	background: #f2f4f3 url(../img/form_icon_2.png) 96% 50% no-repeat;
}

.order_form input[type="submit"] {
	display: inline-block;
	width: 278px;
	height: 58px;
	padding: 10px 0 12px 0;
	border: none;
	border-bottom: 1px solid #707270;
	border-radius: 5px;
	background: #2ca922;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #fff;
	line-height: 130%;
	text-align: center;
	cursor: pointer;
}

.order_form input[type="submit"]:hover {
	background: #23901b;
}

.bg_5 .order_form {
	display: block;
	width: 780px;
	height: 298px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.bg_5 .order_form h4 {
	text-align: center;
	padding: 0 70px;
	margin-bottom: 26px;
}

.bg_5 .order_form form {
	margin-left: 230px;
}

.bg_5 .order_form > img {
	width: 170px;
    height: 451px;
    position: absolute;
    top: -90px;
    left: -50px;
}

.timer_box {
	float: right;
	text-align: center;
	margin: 0 5px;
}

.timer {
	display: inline-block;
	max-width: 220px;
	vertical-align: top;
	font-weight: 600;
	text-shadow: 0 0 2px #fff;
	z-index: 2;
	zoom: 1;
	*display: inline;
}

.timer > p {
	font-size: 20px;
	line-height: 130%;
	font-weight: 400;
	margin-bottom: 8px;
}

.timer > div {
	font-size: 16px;
	line-height: 130%;
}

.timer_wrapper1 > span {
	display: inline-block;
	width: 60px;
	vertical-align: top;
	font-size: 16px;
	line-height: 130%;
	font-weight: 400;
}

.timer_wrapper1 > span > b {
	display: inline-block;
	width: 50px;
	height: 47px;
	padding-top: 3px;
	background: #fff;
	border-radius: 8px;
	font-size: 34px;
	line-height: 130%;
	font-weight: normal;
	margin-bottom: 2px;
	border: 1px solid #ecefee;
	border-radius: 8px;
}

.price {
	width: 160px;
	padding: 6px 10px 8px 10px;
	background: #fff;
	border: 1px solid #66de9d;
	border-radius: 27px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.price > span {
	display: block;
	font-size: 18px;
	line-height: 110%;
	color: #5f5f5f;
	font-weight: 600;
	text-decoration: line-through;
}

.price .green {
	font-size: 31px;
	line-height: 110%;
}
.total{font-size: 8px; margin-bottom: 15px;}
.points {
	margin: 0 -18px;
}

.order_form + .points {
	margin-top: 10px;
}

.points .title {
	font-weight: 500;
}

.points .title span {
	font-weight: 600;
}

.points > div {
	display: inline-block;
	width: 214px;
	vertical-align: top;
	padding-top: 100px;
	margin: 0 14px 40px 18px;
	zoom: 1;
	*display: inline;
}

.points > div p {
	font-size: 18px;
	line-height: 110%;
	font-weight: 600;
}

.point_1 {
	background: url(../img/icon_1.png) 50% 12px no-repeat;
}

.point_2 {
	background: url(../img/icon_2.png) 50% 0 no-repeat;
}

.point_3 {
	background: url(../img/icon_3.png) 50% 5px no-repeat;
}

.point_4 {
	background: url(../img/icon_4.png) 50% 7px no-repeat;
}

.about {
	padding: 0 4%;
}

.about_item {
	padding: 10px 0 0 0;
	margin: 0 0 40px 0;
}

.about_item > div {
	display: table-cell;
	width: 960px;
	vertical-align: middle;
}

.about_item span {
	display: inline-block;
	width: 336px;
	height: 336px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}

.about_item span img {
	width: 100%;
	height: auto;
	min-height: 100%;
	border-radius: 50%;
}

.about_item span + p {
	margin-left: 55px;
}

.about_item p + span {
	margin-left: 55px;
}

.about_item p {
	width: 564px;
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	line-height: 130%;
	zoom: 1;
	*display: inline;
}
#effect{
	text-align: center;
}
#effect .title {
	padding-top: 10px;
}

#effect > div {
	width: 655px;
	background: #fefcfa;
	border-radius: 7px;
	padding: 15px 0;
	margin: 10px auto;
	box-shadow: 0 10px 13px rgba(0,0,0,0.15);
	position: relative;
	z-index: 2;
}

#effect > div p {
	font-size: 150%;
	line-height: 130%;
	padding: 14px 25px;
	position: relative;
}

#effect > div p span {
	color: #fff;
	display: block;
	position: absolute;
	left: -32px;
	top: 50%;
	bottom: 0;
	width: 32px;
	height: 43px;
	margin-top: -27px;
	padding-top: 12px;
	border-radius: 6px 0 0 6px;
	background: #17b500;
	text-align: center;
}

#effect > img {
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

#spec {
	padding-top: 20px;
	margin-bottom: 90px;
}

#spec .shadow {
	border-radius: 6px;
}

#spec .title {
	padding: 0 400px 0 10px;
	text-align: left;
}

.spec_top {
	min-height: 260px;
	padding: 40px 400px 40px 40px;
	border-radius: 6px 6px 0 0;
	position: relative;
}

.spec_top p {
	font-size: 22px;
	line-height: 130%;
	font-style: italic;
}

.spec_top > img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 38%;
}

.spec_bottom {
	padding: 30px 40px;
	border-radius: 0 0 6px 6px;
	background: #fff;
}

.spec_bottom > img {
	margin: -5px 0 0 60px;
}

.spec_bottom > p {
	font-size: 120%;
	line-height: 130%;
	font-style: italic;
	margin-bottom: 20px;
}

.spec_bottom > b {
	font-size: 160%;
	line-height: 130%;
	font-style: italic;
}

.benefits {
}

.benefits ul {
	display: block;
	list-style-position: outside;
	list-style: none;
	margin: 0 -30px;
}

.benefits li {
	display: inline-block;
	vertical-align: top;
	width: 350px;
	padding-left: 57px;
	background: url(../img/marker.png) 0 50% no-repeat;
	font-size: 18px;
	line-height: 120%;
	color: #000;
	margin: 0 46px 40px 50px;
	zoom: 1;
	*display: inline;
}

.benefits li span {
	display: block;
	color: #17b500;
	font-weight: 600;
}

.steps {
	overflow: hidden;
	font-size: 18px;
	line-height: 120%;
	position: relative;
}

.steps_top {
	height: 355px;
	position: relative;
	background: url(../img/feet_3.jpg) 50% 0 no-repeat;
	margin-bottom: 25px;
}

.step_1 {
	position: absolute;
	left: 0;
	bottom: 210px;
	width: 250px;
}

.step_2 {
	position: absolute;
	left: 0;
	top: 170px;
	width: 250px;
}

.step_r_1 {
	position: absolute;
	right: 0;
	bottom: 225px;
	width: 200px;
	text-align: right;
}

.step_r_2 {
	position: absolute;
	right: 0;
	top: 170px;
	width: 270px;
	text-align: right;
}

.steps span.green {
	display: block;
	font-size: 36px;
	line-height: 110%;
}

.steps_botom {
	padding-top: 64px;
	background: url(../img/icon_5.png) 50% 0 no-repeat;
	width: 560px;
	text-align: center;
	margin: 0 auto;
}

.procedure {
	text-align: center;
}

.procedure > div {
	display: inline-block;
	vertical-align: top;
	width: 230px;
	text-align: left;
	margin: 0 6px 22px 10px;
}

.procedure > div + div {
	width: 211px;
}

.procedure > div + div + div {
	width: 191px;
}

.procedure > div + div + div + div {
	width: 172px;
}

.procedure .thumb {
	display: block;
	position: relative;
	height: 204px;
	margin-bottom: 10px;
}

.procedure > div img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	border: 4px solid #23b80b;
	position: absolute;
	bottom: 0;
	right: 0;
}

.procedure > div h5 {
	font-size: 24px;
	line-height: 120%;
	color: #eb6166;
	font-weight: normal;
	margin-bottom: 5px;
}

.procedure > div p {
	font-size: 20px;
	line-height: 120%;
	color: #323232;
}

.procedure > div span {
	font-weight: 600;
}

.slider {
	position: relative;
	padding: 0 0 35px 0;
	background: #f3f3f3;
	margin-bottom: -40px;
}

.slider_inner {
	width: 100%;
	height: 650px;
	overflow: hidden;
}

.slider_inner ul {
	display: block;
	list-style-position: outside;
	list-style: none;
	width: 100%;
	height: 650px;
	overflow: hidden;
	position: relative;
}

.slider_inner li {
	display: block;
	float: left;
	width: 100%;
	height: 650px;
	overflow: hidden;
}

.slider_inner li a {
	display: block;
	width: 900px;
	height: 517px;
	padding: 123px 30px 10px 30px;
	overflow: hidden;
	position: relative;
	text-decoration: none;
}

.slider_inner li a > img {
	display: block;
	width: auto;
	height: auto;
	max-height: 320px;
	margin: 0 auto;
}

.slider_buttons span:hover, .slider_buttons span.active {
	background: #17b500;
}

.slider .thumb {
	display: block;
	width: 111px;
	height: 111px;
	border-radius: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	position: absolute;
	left: 50%;
	margin-left: -55px;
	top: 0;
}

.slider .thumb:before {
	content: ' ';
	height: 57px;
	position: absolute;
	top: 0;
	left: -500px;
	right: -500px;
	background: #fff;
}

.slider .thumb img {
	width: 111px;
	height: 111px;
	border-radius: 10px;
	position: relative;
	z-index: 2;
}

.slider .green {
	display: block;
	font-size: 20px;
	line-height: 120%;
	font-weight: bold;
	margin-bottom: 12px;
	text-align: center;
}

.comment_body {
	display: block;
	font-size: 18px;
	line-height: 120%;
	font-style: italic;
	margin-bottom: 25px;
	height: 145px;
	overflow: hidden;
	text-align: justify;
}

.slider_buttons {
	text-align: center;
}

.slider_buttons span {
	display: inline-block;
	margin-left: 3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #d7d7d7;
	cursor: pointer;
}

#why {
	padding: 10px 0 10px 0;
}

#why .title {
	font-size: 36px;
	line-height: 120%;
	color: #323232;
}

.why {
	overflow: hidden;
}

.why > div {
	width: 181px;
	height: 263px;
	padding: 43px 65px 0 65px;
	/* margin-right: -45px; */
	border-radius: 50%;
	float: left;
	background: #fffff1;
	text-align: center;
	margin: 4px;
}

.why .icon {
	display: block;
	width: 200px;
	height: 86px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 15px;
}

.why .icon img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	max-width: 200px;
	max-height: 86px;
}

.why > div div {
	font-size: 18px;
	line-height: 120%;
	font-weight: 600;
	margin-bottom: 13px;
}

.why > div p {
	font-size: 16px;
	line-height: 120%;
}

#complications > div {
	position: relative;
	text-align: center;
}

#complications .title {
	color: #e53238;
	font-size: 36px;
	line-height: 120%;
	margin-bottom: 15px;
}

#complications .thumb {
	display: inline-block;
	vertical-align: top;
	width: 294px;
	height: 224px;
	border: 7px solid #fff;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

#complications img {
	width: 294px;
	height: 224px;
}

#complications .thumb:nth-child(2n) {
	margin-top: 50px;
}

#footer {
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	z-index: 2;
	text-align: center;
}

#footer .fixed {
	height: 98px;
	font-size: 18px;
	line-height: 120%;
}

#footer p {
	width: 550px;
	position: absolute;
	bottom: 22px;
	left: 0;
}

#footer a {
	display: block;
	position: absolute;
	bottom: 24px;
	right: 0;
	color: #0054ff;
}
.privacy{
	position: static!important;
	color: #000!important;
}
.clear {
	clear: both;
}

.error {
	display: block;
	position: relative;
	margin: -5px 0 10px 0;
	color: #f00;
	font-style: italic;
}




.slick-slide{
	background: #f3f3f3;
	padding: 10px;
}
.slider_buttons{
	text-align: center;
	margin: 10px;

}
.slider_buttons li{
	list-style-type: none;
	display: inline-block;
}
.slider_buttons li button{
	display: inline-block;
	margin-left: 3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #d7d7d7;
	cursor: pointer;
	border: none;
	color: #d7d7d7;
}
.slider_buttons li button:active{
	background: #17b500;
	color: #17b500;
}

.slider_buttons li.slick-active button{
	background: #17b500;
	color: #17b500;
}

.slick-slide img{
	margin: 0 auto;
	max-width: 100%;
}


.free__title {
    font-size: 24px;
    text-transform: uppercase;
    /* margin-top: 10px; */
    font-weight: bold;
    text-align: center;
    color: #ffd700;
}
.free__wrap {
    color: #fff;
    text-align: center;
    width: 100%;
}
.free__date {
       background: linear-gradient(to right, rgba(252, 184, 125, 1) 0%, rgba(251, 182, 124, 1) 2%, rgba(251, 201, 121, 1) 31%, rgba(250, 208, 119, 1) 48%, rgba(251, 201, 121, 1) 69%, rgba(252, 183, 125, 1) 98%, rgba(251, 185, 124, 1) 100%);
    padding: 6px;
    margin: 5px auto;
    border-radius: 10px;
    text-transform: uppercase;
    max-width: 330px;
    color: #000;
}
.free__day {
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    display: inline-block;
    margin-bottom: 5px;
}
.free__when {
    font-weight: bold;
    font-size: 22px;
}
.free__give {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #000;
    margin-top: 13px;
}
.free__main {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    color: red;
}
.free__main.-hide {
	position: absolute;
	z-index: -10;
	opacity: 0;
}
.free__for {
    text-transform: none;
}
 .bg_5 .order_form{
	width: 650px;
}
 .bg_5 .order_form form{
	margin-left: 100px;
}

.image-pack img {
   display: inline-block;
   max-width: 100%;
   max-height: 400px;
}

.form-box1 {}

.form-box1>* {
    float: none !important;
    margin: 0 !important;
}

@media (max-width: 999px) {
    .image-pack{
        padding-bottom: 20px;
    }
    .image-pack img{
        max-height: 280px;
    }
}
@media (max-width: 1170px){
}
@media (max-width: 999px){
.timer_box{
	order: 3;
}
.order_form form{
	order: 4;
	margin-top: 10px;
}
.order_form .fixator{
	order: 1;
}
.order_form h4{
	order: 2;
}
.order_form h4{
	margin-bottom: 10px;
}
}
@media (max-width: 767px){
	.order_form{
	width: 300px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex !important;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	}
	.form-img{
		order: 5;
	}
	.timer_box{
	order: 3;
	margin-top: 10px !important;
}
.order_form form{
	order: 4;
margin-top: 10px !important;
}
.order_form .fixator{
	order: 1;
}
.order_form h4{
	order: 2;
	margin-top: 10px;
}
}
.bg_1 .green{
	display: inline-block;
}